<!DOCTYPE html lang='en'>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css"/>
        <title>Hello Pirple</title>
    </head>
    <body>
        <h1>Hello World.</h1>
        <p>I hear babies crying, I watch them grow, they'll learn much more than I'll ever know.
            I think to myself, what a wonderful world.
        </p>

        <div>
            {% block main %}
                <h1>The day I went to Tamarind</h1>
            {% endblock main %}        
        </div>

    </body>
</html>